/* Dark Mode Styles */
.dark {
    background-color: #1a202c;
    color: #cbd5e0;
}

.chart-container {
    margin-top: 20px; /* Adjust top margin */
    margin-bottom: 20px; /* Adjust bottom margin */
    margin-left: auto; /* Adjust left margin */
    margin-right: auto; /* Adjust right margin */
}