
#sideMenu {
  width: 15%;
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 20px;
}

#sideMenu h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#sideMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sideMenu a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s;
}

#sideMenu a:hover {
  background-color: #4a4a4a;
}
#alert {
  background-color: orange;
  padding: 3px;
  margin: 2px;
  gap: 4px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
body,
html {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;

}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 200px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.bigwindow {
  text-align: center;
  padding: 20px;
  width: 400px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
}


.window:hover {

  transform: scale(1.1); /* Scale image up by 10% */

}


.filterbar {
  display: flex;
  padding: 3px;
  width: 50%;
  height: 50%;
}


.container {
  width: 85%; /* Adjust content container width */
  padding: 20px;
}

canvas {
  
  max-width: 100%;
  height: auto;
  
}
h1 {
  font-size: xx-large;
}
button {
  border-radius: 50px;
  font-size: x-large;
  padding: 1px;
  margin: 2px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}
